<form [formRoot]="departmentForm">
    <div class="form-group">
        <a [routerLink]="['/departments']" i18n>Back to departments</a>
        <label for="departmentName" i18n>Department name</label>
        <input id="departmentName" [formField]="departmentForm.name" />
        @if (departmentForm.name().invalid()) {
        @for (err of departmentForm.name().errors(); track err.kind) {
        <div class="error">{{ err.message }}</div>
        }
        }
    </div>
    <button type="submit" i18n>Save</button>
</form>